<!-- Social Media Bar -->
<div class="social-media-bar">
    <a href="https://facebook.com/bloomery" class="social-media-item" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
        <span class="social-tooltip">Facebook</span>
    </a>
    <a href="https://instagram.com/bloomery" class="social-media-item" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
        <span class="social-tooltip">Instagram</span>
    </a>
    <a href="https://pinterest.com/bloomery" class="social-media-item" target="_blank" aria-label="Pinterest">
        <i class="fab fa-pinterest-p"></i>
        <span class="social-tooltip">Pinterest</span>
    </a>
    <a href="https://tiktok.com/@bloomery" class="social-media-item" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i>
        <span class="social-tooltip">TikTok</span>
    </a>
    <a href="https://wa.me/40722222222" class="social-media-item" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
        <span class="social-tooltip">WhatsApp</span>
    </a>
</div>
